body{
    background-color: #ededed;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    
    

}
a{
    color: #344E41;
    text-decoration: none;

}

a:hover{
    color: #fb8500;
    text-decoration: line;
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 0;
}

h2{
    text-align: center;
}

img{
    max-width: 400px;
    width: 100%;    
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(68, 43, 4, 0.499);
}

figure{
    text-align: center;
    font-style: italic;
}

p{
    text-align: center;
}

ul li{
    padding: 7px 0;
}

figcaption{
    padding-top: 20px;
}

header{
  padding: 20px;
  background-color: #A3B18A;
  color: black;
  border-bottom: 10px solid #588157;
  box-shadow: 0 5px 20px rgba(68, 43, 4, 0.499);
}

#paragraph p{
    text-align: justify;
}

.row-head{
    background-color: gray;
}

.r1{
    background-color: white;
}

.r2{
    background-color: lightgray;
}

.Apprentices{
    background-color: white;
}

/*footer{
    padding: 20px;
  background-color: #A3B18A;
  color: black;
  border-top: 10px solid #588157;
  box-shadow: 0 -5px 20px rgba(68, 43, 4, 0.499);
}*/