body{
    background-color: #ededed;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    
    

}
a{
    color: #344E41;
    text-decoration: none;

}

a:hover{
    color: #fb8500;
    text-decoration: underline;
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 0;
}

h2{
    text-align: center;
}

img{
    max-width: 400px;
    width: 100%;    
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(68, 43, 4, 0.499);
}

figure{
    text-align: center;
    font-style: italic;
}

p{
    text-align: center;
}

ul li{
    padding: 7px 0;
}

figcaption{
    padding-top: 20px;
}

header{
  padding: 20px;
  background-color: #A3B18A;
  color: #1f2e1f;
  border-bottom: 10px solid #588157;
  box-shadow: 0 5px 20px rgba(68, 43, 4, 0.499);
}

p, h2{
    color: #1f2e1f;
}

#paragraph p{
    text-align: justify;
}

footer{
    margin-bottom: 20px;
}

/*Tables*/

.row-head{
    background-color: gray;
}

.r1{
    background-color: white;
}

.r2{
    background-color: lightgray;
}

.Apprentices{
    background-color: white;
}

/*footer{
    padding: 20px;
  background-color: #A3B18A;
  color: black;
  border-top: 10px solid #588157;
  box-shadow: 0 -5px 20px rgba(68, 43, 4, 0.499);
}*/


/*Forms*/
form {
    width: 60vw;
    max-width: 400px;
    min-width: 100px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 1rem 0;
    color: #344E41;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, select {
    background-color: white;
    border: 1px solid #fb8500;
    color: #1f2e1f;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"], input[type="reset"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #344E41;
    border-color: #fb8500;
    color: #A3B18A;
    min-width: 100px;
}


.inline{
    display: inline; 
}

