<h1>ITIS 3135 || Matvey Ermakov's Magnetic Eagle</h1>
        <nav>
            <a href="./">Home</a>
            ⌘
            <a href="introduction.html">Introduction</a>
            ⌘
            <a href="about.html">About</a>
            ⌘
            <a href="contract.html">Contract</a>
            ⌘
            <a href="tables.html">Tables</a>
            ⌘
            <a href="forms.html">Forms</a>
            ⌘
            <a href="website_evaluations.html">Website Evaluations</a>
            ⌘
            <a href="firstscripts.html">firstscripts</a>
            ⌘
            <a href="byo_intro.html">BYO Intro</a>
            
        </nav>
        <h3>Other Pages:</h3>
        <nav>
            <a href="/mermakov/itis3135/stuff/$ WHAT.htm">CRAPPY Webpage</a>
            ⌘
            <a href="/mermakov/itis3135/hobby/">Hobby Webpage</a>           
        </nav>

        <!--
            const noCssLink = document.getElementById("noCssLink");

            document.getElementByTagName("link").setAttribute("href", "")
            alert()
            //
            <button type="button" onclick = 
            "document.querySelectorAll('link[rel=stylesheet]').forEach(function(e){e.setAttribute('href', '');});">change theme</button>
        -->